<div id="todo-list">
    {{ range .todoList }}
    <div class="card p-3 mb-3">
        <div class="row btn-group">
            <div class="col-9">
                <h4 class="card-title">
                    {{ .Content }}
                </h4>
            </div>

            <div class="col-1">
                <input id="chk{{.Id}}" class="btn btn-check" type="checkbox" />
                <label style="width: 5rem" class="btn btn-outline-success" for="chk{{.Id}}">
                    ✓
                </label>
            </div>

            <div class="col-1">
                <input hx-put="/edit/{{.Id}}" hx-target="#add-todo" hx-swap="outerHTML" style="width: 5rem" id="edit{{.Id}}" class="btn btn-outline-primary" type="button" value="✎" />
                <div hx-get="/fetch-todos" hx-trigger="click from:#edit{{.Id}}" hx-target="#todo-list"></div>
            </div>

            <div class="col-1">
                <input hx-delete="/delete/{{.Id}}" hx-target="#todo-list" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete this task?"
                    style="width: 5rem" class="btn btn-outline-danger" type="button" value="✘" />
            </div>
        </div>
    </div>
    {{ end }}
</div>
